  <style>
p {
    text-indent: 30px;
}
  </style>
  
  
  
<%= div_for comment do %>
<p>
 	<strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br />
	<center>Body : <%= h(comment.body) %></center>
</p>
<% end %>