<p id="notice"><%= notice %></p>

<h1 style="font-family:courier">Listing Posts</h1>

<TABLE BORDER=1 CELLPADDING=3>
 
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="15"></th>
    </tr>
  
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
		
	  <% if user_signed_in? %>
   <% if current_user.id == post.user_id %>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
  <% end %>

<% end %>

</table>

<br>

<%= link_to 'New Post', new_post_path %>