<!DOCTYPE html>
<html>
<head>
  <title>ECE 595 Web Architecture and Cloud Computing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
BODY
   {
   background-color:#FFC7A6;
   font-family:Comic sans MS;
   }
</style>
</head>
<br>
<br>
<center>
<body>
<h1 style="font-family:courier">ECE 595- Bit Bucket Assignment 3 </h1>
<br>
<br>


<p class="navbar-text pull-right">

<% if user_signed_in? %>
 Logged in as <strong><%= current_user.email %></strong>.
 <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
 <%= link_to "Logout", destroy_user_session_path, method: :get, :class => 'navbar-link'  %>

<% else %>
<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %></p>

<%= yield %>

</body>
</center>
</html>
